<menu>
  <input
    type="text"
    id="search"
    name="search"
    [(ngModel)]="enteredSearch"
    placeholder="Search"
  />
  <select name="filterOpertunities" id="filteredOpportunities">
    <optgroup label="By Date">
      <option value="60">Most Recent (60 days)</option>
    </optgroup>
    <optgroup label="By Center">
      <option value="Jacksonville">Jacksonville</option>
      <option value="Test">test</option>
    </optgroup>
  </select>
  <button (click)="onStartAddingOpportunity()">Add New Event</button>
</menu>

@if (isAddingOpportunity){
<app-new-opportunity (close)="onCloseAddOpportunity()"></app-new-opportunity>
}

<ul class="opportunity">
  @for(opportunity of filteredOpportunities; track opportunity.opportunityId){
  <li>
    <app-opportunity [opportunity]="opportunity"></app-opportunity>
  </li>
  }
</ul>
